In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.model_selection import ShuffleSplit
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
import re

In [2]:
dataset = pd.read_csv('./flagged/credit_score_predict.csv')
dataset.head(20)

,Loan ID,Customer ID,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,f738779f-c726-40dc-92cf-689d73af533d,ded0b3c3-6bf4-4091-8726-47039f2c1b90,611314,Short Term,747.0,2074116.0,10+ years,Home Mortgage,Debt Consolidation,42000.83,21.8,NaN,9,0,621908,1058970,0.0,0.0
1,6dcc0947-164d-476c-a1de-3ae7283dde0a,1630e6e3-34e3-461a-8fda-09297d3140c8,266662,Short Term,734.0,1919190.0,10+ years,Home Mortgage,Debt Consolidation,36624.40,19.4,NaN,11,0,679573,904442,0.0,0.0
2,f7744d01-894b-49c3-8777-fc6431a2cff1,2c60938b-ad2b-4702-804d-eeca43949c52,153494,Short Term,709.0,871112.0,2 years,Rent,Debt Consolidation,8391.73,12.5,10.0,10,0,38532,388036,0.0,0.0
3,83721ffb-b99a-4a0f-aea5-ef472a138b41,12116614-2f3c-4d16-ad34-d92883718806,176242,Short Term,727.0,780083.0,10+ years,Rent,Debt Consolidation,16771.87,16.5,27.0,16,1,156940,531322,1.0,0.0
4,08f3789f-5714-4b10-929d-e1527ab5e5a3,39888105-fd5f-4023-860a-30a3e6f5ccb7,321992,Short Term,744.0,1761148.0,10+ years,Home Mortgage,Debt Consolidation,39478.77,26.0,44.0,14,0,359765,468072,0.0,0.0
5,a4957169-d809-44cc-847b-975400bc8d11,6878d414-6a22-4712-ae43-9b3f798e463a,202928,Short Term,741.0,760380.0,1 year,Rent,Debt Consolidation,6526.69,13.8,NaN,6,0,258647,476872,0.0,0.0
6,43467302-94fe-494b-b52f-3fd891fea71c,48113a98-a4a0-4956-b57d-f0ce344826fb,621786,Long Term,733.0,1783606.0,10+ years,Home Mortgage,Debt Consolidation,36563.98,15.3,NaN,42,0,281599,1449162,0.0,0.0
7,930c7cb3-6086-434a-9547-3ed41c181552,19941661-98e2-4800-93c9-a0e92057c813,266794,Long Term,NaN,NaN,< 1 year,Own Home,Debt Consolidation,12336.89,5.8,NaN,9,0,233206,342232,0.0,0.0
8,0b2f1b66-741e-4e37-a929-99926cdc9e9a,6a1adeda-079b-49e5-ac7c-91828f2806a0,202466,Short Term,736.0,1068617.0,5 years,Rent,Debt Consolidation,18745.21,20.5,NaN,2,0,0,0,0.0,0.0
9,d08f3a5e-93df-40e7-bdd8-cba59180bddf,4080a828-a61a-4f04-a627-397f4319500c,266288,Long Term,683.0,2031518.0,2 years,Rent,Debt Consolidation,12443.10,24.4,56.0,8,2,31445,251130,2.0,0.0
10,3102b699-a2d2-4df4-9c33-005dc41e3525,8116b23d-aad4-436f-9666-e99b28c21b05,121110,Short Term,NaN,NaN,< 1 year,Rent,Debt Consolidation,10749.44,19.2,52.0,4,0,102087,198330,0.0,0.0
11,663ad9a3-4691-4f8c-90c6-75a5f4f0b34f,8ec9f388-a275-40ee-9edc-82dec9f978c3,258104,Short Term,723.0,1284514.0,7 years,Rent,Debt Consolidation,6368.99,14.6,64.0,12,0,128402,266904,0.0,0.0
12,1e277d73-10b5-475f-8538-2a5a09d62c8d,db6fb330-9742-4738-a35f-810f9573684c,161722,Short Term,680.0,504374.0,7 years,Rent,other,6094.63,9.5,NaN,13,0,167903,388828,0.0,0.0
13,79d992b7-0aa7-4059-a10b-3d416809d77e,3baae7fe-d27a-40af-9289-2b4626c0893f,753016,Long Term,NaN,NaN,5 years,Home Mortgage,Debt Consolidation,9627.49,21.7,21.0,9,0,384522,657646,0.0,0.0
14,c3c63911-be01-410b-a20a-85cb9bb83712,622add56-97b2-4067-88c7-55eafff12017,444664,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,22817.86,17.9,8.0,25,0,318953,971872,0.0,0.0
15,a913063f-af67-4a8d-b663-e83b9085180d,4f8389cd-2ac7-40f6-a2bc-5c545838953f,172282,Short Term,696.0,669560.0,3 years,Home Mortgage,Debt Consolidation,17966.78,18.2,NaN,16,0,431490,999262,0.0,0.0
16,e326b52a-66a2-4155-925a-91dcefa97c8a,8c49e3f3-bf36-434d-a518-145c825d9455,275440,Short Term,729.0,1236976.0,6 years,Rent,Debt Consolidation,21647.08,35.8,NaN,13,0,151088,264242,0.0,0.0
17,add946a5-20a5-4211-bf22-408525123b1d,163b8125-8f24-4b8f-ba59-23ea017f5b48,218834,Short Term,742.0,1077262.0,3 years,Own Home,Home Improvements,19390.64,24.5,29.0,37,0,212800,502876,0.0,0.0
18,cb6f7b00-62e7-4e18-8e73-73e60396e270,ce6fc244-b9a8-44b8-95f4-61c41ed5d03b,99999999,Short Term,715.0,442339.0,< 1 year,Rent,Debt Consolidation,14007.18,17.0,25.0,14,0,65474,284966,0.0,0.0
19,e6246fe9-6b7b-448c-a817-f91b58199e32,bcace9c1-a4c0-4d6d-9582-fa2026c3fc0b,99999999,Long Term,715.0,694526.0,8 years,Rent,Debt Consolidation,4358.22,17.3,47.0,5,0,137332,272734,0.0,0.0

In [3]:
#Data cleaning
dataset_2 = dataset.drop(['Loan ID', 'Customer ID', 'Months since last delinquent'], axis = 'columns')
dataset_2['Years in current job'].unique()

array(['10+ years', '2 years', '1 year', '< 1 year', '5 years', '7 years',
       '3 years', '6 years', '8 years', '4 years', nan, '9 years'],
      dtype=object)

In [4]:
dataset_3 = dataset_2.copy()
dataset_3 = dataset_2.dropna()
#removing character values
dataset_3['refined_jobYears'] = dataset_2['Years in current job'].apply( lambda x: (''.join(filter(str.isdigit, str(x)))))
#extracting integers
dataset_3['refined_jobYears'] = dataset_3['refined_jobYears'].apply( lambda x: int(x))

C:\Users\Dell\AppData\Local\Temp\ipykernel_12184\548593778.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_3['refined_jobYears'] = dataset_2['Years in current job'].apply( lambda x: (''.join(filter(str.isdigit, str(x)))))
C:\Users\Dell\AppData\Local\Temp\ipykernel_12184\548593778.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_3['refined_jobYears'] = dataset_3['refined_jobYears'].apply( lambda x: int(x))

In [5]:
dataset_3['refined_jobYears'].unique()

array([10,  2,  1,  5,  7,  3,  6,  8,  4,  9], dtype=int64)

In [6]:
dataset_4 = dataset_3.replace(to_replace = ['HaveMortgage'], value = ['Home Mortgage'])
dataset_4['Home Ownership'].unique()
dataset_4.rename(columns = {'Credit Score' : 'Credit_Score','Current Credit Balance' : 'Current_Credit_Balance', 'Maximum Open Credit' : 'Maximum_Open_Credit' ,'Current Loan Amount' : 'Current_Loan_Amount', 'Annual Income' : 'Annual_income', 'Monthly Debt' : 'Monthly_Debt', 'Years of Credit History' : 'Years_of_Credit_History', 'Number of Open Accounts' : 'Number_of_Open_Accounts', 'Number of Credit Problems' : 'Number_of_Credit_Problems', 'Home Ownership' : 'Home_Ownership', 'Tax Liens' : 'Tax_Liens'}, inplace = True)
dataset_4.head(10)

,Current_Loan_Amount,Term,Credit_Score,Annual_income,Years in current job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens,refined_jobYears
0,611314,Short Term,747.0,2074116.0,10+ years,Home Mortgage,Debt Consolidation,42000.83,21.8,9,0,621908,1058970,0.0,0.0,10
1,266662,Short Term,734.0,1919190.0,10+ years,Home Mortgage,Debt Consolidation,36624.40,19.4,11,0,679573,904442,0.0,0.0,10
2,153494,Short Term,709.0,871112.0,2 years,Rent,Debt Consolidation,8391.73,12.5,10,0,38532,388036,0.0,0.0,2
3,176242,Short Term,727.0,780083.0,10+ years,Rent,Debt Consolidation,16771.87,16.5,16,1,156940,531322,1.0,0.0,10
4,321992,Short Term,744.0,1761148.0,10+ years,Home Mortgage,Debt Consolidation,39478.77,26.0,14,0,359765,468072,0.0,0.0,10
5,202928,Short Term,741.0,760380.0,1 year,Rent,Debt Consolidation,6526.69,13.8,6,0,258647,476872,0.0,0.0,1
6,621786,Long Term,733.0,1783606.0,10+ years,Home Mortgage,Debt Consolidation,36563.98,15.3,42,0,281599,1449162,0.0,0.0,10
8,202466,Short Term,736.0,1068617.0,5 years,Rent,Debt Consolidation,18745.21,20.5,2,0,0,0,0.0,0.0,5
9,266288,Long Term,683.0,2031518.0,2 years,Rent,Debt Consolidation,12443.10,24.4,8,2,31445,251130,2.0,0.0,2
11,258104,Short Term,723.0,1284514.0,7 years,Rent,Debt Consolidation,6368.99,14.6,12,0,128402,266904,0.0,0.0,7

In [7]:
dataset_5 = dataset_4.replace(to_replace = ['other', 'major_purchase', 'Home Improvements', 'vacation', 'wedding', 'Take a Trip', 'moving', 'small_business'], value = ['Other', 'Other', 'Other', 'Other', 'Other', 'Other', 'Other', 'Business Loan'])
dataset_5.head(10)

,Current_Loan_Amount,Term,Credit_Score,Annual_income,Years in current job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens,refined_jobYears
0,611314,Short Term,747.0,2074116.0,10+ years,Home Mortgage,Debt Consolidation,42000.83,21.8,9,0,621908,1058970,0.0,0.0,10
1,266662,Short Term,734.0,1919190.0,10+ years,Home Mortgage,Debt Consolidation,36624.40,19.4,11,0,679573,904442,0.0,0.0,10
2,153494,Short Term,709.0,871112.0,2 years,Rent,Debt Consolidation,8391.73,12.5,10,0,38532,388036,0.0,0.0,2
3,176242,Short Term,727.0,780083.0,10+ years,Rent,Debt Consolidation,16771.87,16.5,16,1,156940,531322,1.0,0.0,10
4,321992,Short Term,744.0,1761148.0,10+ years,Home Mortgage,Debt Consolidation,39478.77,26.0,14,0,359765,468072,0.0,0.0,10
5,202928,Short Term,741.0,760380.0,1 year,Rent,Debt Consolidation,6526.69,13.8,6,0,258647,476872,0.0,0.0,1
6,621786,Long Term,733.0,1783606.0,10+ years,Home Mortgage,Debt Consolidation,36563.98,15.3,42,0,281599,1449162,0.0,0.0,10
8,202466,Short Term,736.0,1068617.0,5 years,Rent,Debt Consolidation,18745.21,20.5,2,0,0,0,0.0,0.0,5
9,266288,Long Term,683.0,2031518.0,2 years,Rent,Debt Consolidation,12443.10,24.4,8,2,31445,251130,2.0,0.0,2
11,258104,Short Term,723.0,1284514.0,7 years,Rent,Debt Consolidation,6368.99,14.6,12,0,128402,266904,0.0,0.0,7

In [8]:
#creating dummies to handle strings
dummies = pd.get_dummies(dataset_5.Home_Ownership)
dummies2 = pd.get_dummies(dataset_5.Term)
dataset_6 = pd.concat([dataset_5, dummies, dummies2], axis = 'columns')
dataset_7 = dataset_6.drop(['Years in current job', 'Home_Ownership', 'Purpose', 'Rent', 'Term', 'Short Term'], axis = 'columns')
dataset_7.rename(columns = {'Home Mortgage' : 'Home_Mortgage', 'Own Home' : 'Own_Home', 'Long Term' : 'Long_Term'})
dataset_7.dropna()

,Current_Loan_Amount,Credit_Score,Annual_income,Monthly_Debt,Years_of_Credit_History,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens,refined_jobYears,Home Mortgage,Own Home,Long Term
0,611314,747.0,2074116.0,42000.83,21.8,9,0,621908,1058970,0.0,0.0,10,1,0,0
1,266662,734.0,1919190.0,36624.40,19.4,11,0,679573,904442,0.0,0.0,10,1,0,0
2,153494,709.0,871112.0,8391.73,12.5,10,0,38532,388036,0.0,0.0,2,0,0,0
3,176242,727.0,780083.0,16771.87,16.5,16,1,156940,531322,1.0,0.0,10,0,0,0
4,321992,744.0,1761148.0,39478.77,26.0,14,0,359765,468072,0.0,0.0,10,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,442596,739.0,1528968.0,19494.38,16.7,11,0,419235,656876,0.0,0.0,7,1,0,0
9995,157806,731.0,1514376.0,4795.41,12.5,9,0,87058,234410,0.0,0.0,6,0,0,0
9996,132550,718.0,763192.0,12401.87,9.9,8,0,74309,329692,0.0,0.0,4,1,0,0
9998,99999999,721.0,972097.0,12232.20,16.8,8,1,184984,240658,0.0,0.0,10,1,0,0
9999,99999999,748.0,1079960.0,12239.61,19.7,14,0,179018,607882,0.0,0.0,6,1,0,0

In [14]:
#Data Training and filter data that does not affect trained output
X = dataset_7.drop(['Maximum_Open_Credit', 'Number_of_Credit_Problems', 'Long Term', 'Credit_Score', 'Current_Loan_Amount', 'Bankruptcies', 'Tax_Liens'], axis = 'columns')
Y = dataset_7.Maximum_Open_Credit
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.15, random_state = 15)
LR = LinearRegression()
LR.fit(X_train, Y_train)
LR.score(X_test, Y_test)
# cv = ShuffleSplit(n_splits = 2, test_size = 0.15, random_state = 15)
# cross_val_score(LinearRegression(), X, Y, cv = cv)

0.864211462459817

In [10]:
#writing function for data prediction
def predict_credit_limit (Ownership, Annual_Income, Monthly_Debt, Years_of_Credit_History, Number_of_Open_Accounts, Current_Credit_Balance, refined_jobYears):
  ownership_index = np.where(X.columns == Ownership)[0]
  x = np.zeros(len(X.columns))
  
  x[0] = Annual_Income
  x[1] = Monthly_Debt
  x[2] = Years_of_Credit_History
  x[3] = Number_of_Open_Accounts
  x[4] = Current_Credit_Balance
  x[5] = refined_jobYears
  
  if ownership_index >= 0:
    x[ownership_index] = 1
  
  return LR.predict([x])[0]

In [16]:
#rechecking answers
predict_credit_limit('Own_Home', 2074116, 42000.83, 21.8, 9, 621908, 10)

C:\Users\Dell\AppData\Local\Temp\ipykernel_12184\2040192235.py:13: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if ownership_index >= 0:
c:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

967180.5041892993

In [ ]:
# import pickle
# with open('Credit_limit_model.pickle', 'wb') as f:
#   pickle.dump(LR, f)

In [ ]:
# import json
# columns = {
#     'data_columns' : [col.lower() for col in X.columns]
# }
# with open("columns.json", "w") as f:
#   f.write(json.dumps(columns))

In [ ]:
# Hyperparameter Tuning
# from sklearn.linear_model import Lasso 
# from sklearn.tree import DecisionTreeRegressor
# from sklearn.model_selection import GridSearchCV
# cv = ShuffleSplit(n_splits = 5, test_size = 0.1, random_state = 0)

# def find_best_model_using_gridsearchcv(X,Y):
#   algos = {
#     'linear regression' : {
#       'model': LinearRegression(), 
#         'params': {
#           'normalize': [True, False]
#         }
#     },
#     'lasso':{
#       'model': Lasso(),
#       'params': {
#         'alpha': [1,2],
#         'selection': ['random', 'cyclic']
#       }
#     },
#     'decision tree': { 
#       'model': DecisionTreeRegressor(),
#       'params': {
#         'criterion': ['mse', 'friedman_mse'],
#         'splitter': ['best','random']
#       }
#     }
#   }
#   scores = []
#   for algo_name, config in algos.items():
#     gs = GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=True)
#     gs.fit(X,Y)
#     scores.append({
#       'model': algo_name,
#       'best score': gs.best_score_,
#       'best_params': gs.best_params_
#     })
#     return pd.DataFrame(scores, columns=['model','best_score','best_params'])

# find_best_model_using_gridsearchcv(X,Y)